
@{
    Layout = "~/Views/Shared/_user.cshtml";
}
<link href="~/landing/topstyle.css" rel="stylesheet" />
<title>Gallery</title>
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px;
    }

        .card:hover {
            opacity: 0.4;
        }

    img {
        border-radius: 10px 10px 10px 10px;
    }

   
</style>
<div class="row container" style="margin-top:30px;">

    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/1.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/2.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/3.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/4.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/5.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/6.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/7.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/8.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/9.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/10.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/11.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/12.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/13.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/14.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/15.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/16.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/17.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/18.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/19.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/20.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/21.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/22.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/23.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/24.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/25.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/26.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/27.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 w3_agile_services_grid">
        <div class="card" style="margin-bottom:20px;">
            <div class="hover06 column">
                <figure><img src="~/Image/gallery/28.jpg" style="height:190px; width:400px;" alt="" class="img-responsive" /> </figure>
            </div>
        </div>
    </div>

    <a class="gotopbtn" href="#">⬆️</a>
</div>
